body {
    background-color: #E3FDFD;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper .sidebar {
    display: flex;
    flex-direction: column;

    flex: 1 1 50%;
    padding: 20px;

}

.wrapper .l-sidebar {
}

.l-sidebar .textarea-wrapper {
    margin-bottom: 10px;
}

.l-sidebar .textarea-wrapper textarea {
    width: 100%;
}

.wrapper .r-sidebar {
    
}

.wrapper .r-sidebar #result-view {
    flex-grow: 1;
    background-color: #fff;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#generate-btn, #clear-btn {
    height: 32px;
    margin-bottom: 10px;
}