body {
    background-color: #E3FDFD;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .editor, .result {
        padding: 10px 0px;
    }

    .result {
        display: flex;
        flex-direction: column;
    }

    .editor {
        display: flex;
        flex-direction: row;

        .sidebar {
            padding: 0px 10px;

            &.l-sidebar {
                flex: 1 1 80%;
                .textarea-wrapper {
                    margin-bottom: 10px;
        
                    textarea {
                        width: 100%;
                    }
                }
            }

            &.r-sidebar {
                flex: 1 1 20%;

                .controls-group {
                    margin: 44px 0px;

                    &:first-child {
                        margin-top: 0px;
                    }

                    &:last-child {
                        margin-bottom: 0px;
                    }

                    .controls-wrapper {
                        display: flex;
    
                        margin-bottom: 10px;
    
                        #clear-btn {
                            flex-grow: 0;
                        }
    
                        #generate-btn {
                            flex-grow: 1;
                        }
    
                        button {
                            flex-grow: 1;
    
                            margin-right: 10px;
    
                            &:last-child {
                                margin-right: 0px;
                            }
                        }
                    }

                    .samples-selector-label {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .result {
        margin: 0px 10px;

        #result-view {
            flex-grow: 1;
            background-color: #fff;
        
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }

}
