section {
    display: flex;
    justify-content: center;

    .section-content {
        display: flex;
        justify-content: center;
    }

    &:hover {
        .type-label {
            display: inline-block;
        }
    }

    .slider-mark-wrapper {
        position: absolute;
        bottom: 48px;
        display: flex;
        align-items: flex-end;
        width: 100%;
        justify-content: space-around;

        width: 200px;

        .slider-mark {
            border: 1px solid #000;
            font-size: 4px;
            border-radius: 100px;
        }
    }

}