.widget {
    margin: 12px 0px;
    position: relative;
    overflow: hidden;


    &:first-child {
        margin-top: 0px;
    }

    &:last-child {
        margin-bottom: 0px;
    }

    .widget-content {
        height: 100%;
    }

    &.text {
        &.subheading {
            font-weight: 600;
            line-height: normal;
        }

        &.heading1, &.heading2, &.heading3, &.heading4 {
            font-weight: 700;
            line-height: normal;
        }

        &.normal-text {
            font-weight: 500;
            line-height: normal;
        }
    }

    &.image {
        .widget-content {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                max-width: 80px;
            }
        }
    }
    
    &.button {
        height: 54px;
    }
    
    &.logo {
        font-weight: 700;
    }

    &.spacer {
        border: 1px dashed #BABABA;
    }

    &.menu {
        &.vertical {
            .items-list {
                flex-direction: column;

                .menu-item {
                    margin-bottom: 12px;
                }
            }
        }

        .items-list {
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            justify-content: space-between;
        }
    }

    &.accordion {
        .accordion-items {
            list-style: none;
            margin: 0;
            padding: 0;

            .accordion-item {
                display: flex;
                justify-content: space-between;

                padding: 24px 0px;

                &:first-child {
                    padding-top: 0;
                }

                border-bottom: 1px solid #DBDBDB;
            }
        }
    }

    &.box {
        & > .widget-content {
            box-sizing: border-box;
            display: flex;
        }

        &.vertical {
            & > .widget-content {
                padding: 24px 18px;
                flex-direction: column;
            }
        }

        &.horizontal {
            & > .widget-content {
                flex-direction: row;
            }

            .widget {
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                margin: 0 6px;
            }
        }

        
    }

    &.social-links {
        .widget-content {
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;

            .social-link {
                height: 36px;
                width: 36px;
                background: #D9D9D9;
                border-radius: 100px;
                
                &:last-child {
                    margin-right: 0px;
                }

                margin-right: 16px;
            }
        }
    }

    &.form {
        &.vertical {
            form {
                display: flex;
                flex-direction: column;
            }

            .form-field {
                margin-bottom: 24px;
                
                &.input {
                    height: 54px;
                }
    
                &.textarea {
                    height: 122px;
                }
            }
        }

        &.horizontal {
            form {
                display: flex;
                flex-direction: row;
            }

            .form-field {
                margin-right: 20px;
    
                &.input, &.textarea {
                    height: 54px;
                }
            }

            margin-right: 20px;
        }

        .form-field {
            box-sizing: border-box;

            border-radius: 16px;
            border: 2px solid #DCDFE4;

            padding: 16px;

            flex-grow: 1;

            background: #FFFFFF;
        }

        .submit {
            border-radius: 16px;
            height: 54px;
            width: 29%;

            max-width: 250px;
            min-width: 75px;
        }
    }

    &.search-box {
        .search-field {
            display: flex;
            justify-content: space-between;
    
            box-sizing: border-box;
    
            border-radius: 16px;
            border: 2px solid #DCDFE4;
    
            padding: 16px;
    
            height: 56px;
        }
    }

    &.login, &.cart {
        .widget-content {
            padding: 8px;
            border-radius: 8px;
            background: #262626;
        }
    }

    &.divider {
        hr {
            margin: 0;
        }
    }
}


