.type-label {
    display: none;
    background-color: #FFF;
    padding: 4px;
    border-radius: 6px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: grey 1px solid;
    opacity: 0.8;
}

#result-view section {
    min-height: 50px;
    width: 100%;
    position: relative;
}



