.type-label {
    display: inline-block;
    background-color: #FFF;
    padding: 4px;
    border-radius: 6px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: grey 1px solid;
    opacity: 0.8;
}

#result-view section {
    min-height: 50px;
    width: 100%;
    position: relative;
}

.mesh {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    max-width: 3000px;
    margin: 0 auto;
}

.mesh-row {
    position: relative;
    min-height: 50px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: inherit;
}

.mesh-row.empty {
    flex: 1;
    display: none;
}

.col {
    position: relative;
    max-width: 100%;
    padding: 0px 12px;

    display: flex;
    flex-direction: column;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.widget {
    height: 50px;
    margin: 12px 0px;
    position: relative;
    overflow: hidden;

    border: 1px solid #ddd;
}

.image {
    height: 150px
}

.form {
    height: 200px
}

.heading-text {
    font-weight: 600;
    height: 32px;
}

.heading-text:before {
    content: "Heading 1";
}

.text {
    height: 48px;
}

.text:before {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
}

.button {
    height: 36px;
}

.button, .form, .social-links, .search-box {
    border-radius: 10px;
}
